@use "vars" as vars;

nav {
  margin-right: vars.$me_default;
  margin-left: vars.$ms_default;
}

.nav-link {
  --bs-nav-link-font-size: 20px;
  --bs-nav-link-color: black;

  i {
    color: vars.$tcs_blue;
  }
}

a.nav-link i.bi.bi-chevron-down.h6::before {
  font-weight: bolder !important;
}

.dropdown-toggle::after {
  display: none !important;
}